@font-face {
  font-family: leipateksti;
  src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: valikko;
  src: url(fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: ravintola;
  src: url(fonts/Lato/Lato-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: leipateksti;
}

.dark-theme {
  --background: #181a18;
  --card-background: #2c2c2c;
  --card-border: #dfdfdf;
  --card-text-color: #ffffff;
  --text: #ebebeb;
  --nav-color: #ffffff;
  --nav-hover: #4d93e2;
  --banner-color: #1c4370;
  --title-text-color: #ffffff;
  --icon-color: #4d93e2;
  --btn-color: #4d93e2;
  --btn-text: #ffffff;
  --btn-border: #4d93e2;
  --icon-hover: #ffffff;
 }

 .light-theme {
  --background: #ffffff;
  --card-background: #ffffff;
  --card-border: #0b0e11;
  --card-text-color: #000000;
  --text: #000000;
  --nav-color: #940E3F;
  --nav-hover: #3f3f3f;
  --banner-color: #43E04F;
  --title-text-color: #ffffff;
  --icon-color: #940E3F;
  --btn-color: #ffffff;
  --btn-text: #000000;
  --btn-border: #000000;
  --icon-hover: #43E04F;
 }

:root {
  --main-color-red: #940E3F;
  --main-color-green: #43E04F;
  --main-color-lightgrey: #9BADBF;
  --main-color-darkgrey: #343A40;
  --main-text-color: #000000;
  --title-text-color: #FFFFFF;
  --highlight-green: #65FF71;
}

body {
  background-color: var(--background);
}

p {
  color: var(--text);
  font-family: leipateksti;
  font-size: 16px;
}

.nav-container {
  height: 4.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
}

.nav-container li {
  padding: 15px 20px;
  font-family: valikko;
  font-size: 18px;
}

.nav-container li a {
  color: var(--nav-color);
  text-decoration: none;
  cursor: pointer;
}

.nav-container li a:hover {
  color: var(--nav-hover);
}

.push {
  margin-left: auto;
}

.search-input {
  border: none;
  margin-left: 10px;
  background-color: var(--background);
}

#search-icon {
  fill: var(--icon-color);
}

.search-input:focus {
  outline: none;
}

.search-form {
  display: flex;
  padding: 10px;
  width: 13rem;
  border: 1px solid var(--nav-color);
  border-radius: 8px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-rows: auto;
  grid-template-areas:
      "header header"
      "content-area content-area";
}

.banner {
  grid-area: header;
  width: 100%;
  height: 15rem;
  display: flex;
  overflow: hidden;
}

.banner-color {
  background-color: var(--banner-color);
  width: 55%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 15%;
  flex-direction: column;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}


.bannerimg {
  background-image: url(img/pasta.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;

}

#main-title {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 40px;
  color: var(--title-text-color);
}

#slogan {
  font-family: 'Roboto Slab', serif;
  font-size: 19px;
  color: var(--title-text-color);

}

.intro {
  grid-area: content-area;
  justify-self: center;
  text-align: center;
  margin-bottom: 25px;
}

.intro p {
  line-height: 26px;
}

.menu-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  grid-template-rows: auto;
  row-gap: 30px;
}

.menucard {
  justify-self: center;
  border: 1px solid var(--card-border);
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  height: auto;
  background-color: var(--card-background);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--card-text-color);
}

.add-new {
  border: 1px dashed var(--card-border);
  height: 10rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}

#add-icon {
  fill: var(--icon-color);
  cursor: pointer;
}

.add-new-text {
  color: var(--text);
  font-size: 14px;
  margin: 4px 0 0 5px;
  cursor: pointer;
}

.card-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.card-content {
  flex-basis: 70%;
  display: flex;
  flex-flow: column;
  padding-left: 20px;
}


.card-img-container {
  flex-basis: 30%;
  width: 200px;
  height: 200px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-list {
  list-style: none;
  padding-left: 20px;
}

.menu-list li {
  font-size: 12px;
  margin-top: 10px;
}

/* .menu-list li:nth-child(n+2) {
  margin-top: 10px;
} */

.menucard h2 {
  font-family: ravintola;
  font-size: 18px;
  font-weight: 900;
}

.location-icon {
  fill: var(--icon-color);
  margin-left: 10px;
}

.location-icon:hover {
  fill: var(--icon-hover);
  cursor: pointer;
}

.distance {
  font-size: 14px;
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.cardBut {
  font-weight: bold;
  margin: 10px 5px 0 5px;
  padding: 10px;
  background-color: var(--btn-color);
  color: var(--btn-text);
  border: 1px solid var(--btn-border);
  border-radius: 5px;
  cursor: pointer;
}


/*
Värit:
Vihreä: #43E04F
Punainen: #940E3F
Tummanharmaa: #343A40
Vaaleanharmaa: #9BADBF
Musta: #00000
Lisävärit:
Tumma vihreä: #1D9426
Vaalea vihreä: #65FF71
Pinkki: #E0437C
*/

/*Dark mode*/

/* /* body {
  --text-color: #222;
  --bkg-color: #fff;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}




@media (prefers-color-scheme: dark) {

  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }

  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }

  .ban-dark {
    background-color: #0a360e;
  }

  .card-dark {
    background-color: rgb(56, 56, 56);
    color: white;
  }

}

body {
  background: var(--bkg-color);
}

.ban-light {
  background-color: #43E04F;
}

.card-light {
  background: white;
  color: var(--main-text-color);
}

h1,
p {
  color: var(--text-color);
} */



